if process.env.NODE_ENV === 'dev' || front_end_build === true
  // build:css /dist/css/main.css
  link(type="text/css", rel="stylesheet", href="/bower_components/Font-Awesome/css/font-awesome.css")
  link(type="text/css", rel="stylesheet", href="/bower_components/pure/pure.css")
  link(type="text/css", rel="stylesheet", href="/css/main.css")
  // endbuild
else
  link(href="/css/main.css")
