// build:css /dist/css/main.css
link(type="text/css", rel="stylesheet", href="/bower_components/Font-Awesome/css/font-awesome.css")
link(type="text/css", rel="stylesheet", href="/bower_components/pure/pure.css")
link(type="text/css", rel="stylesheet", href="/css/main.css")
// endbuild
