doctype 5
html(data-ng-app="viffservice")
  head
    title= title
    include ./header_styles
  body
    header
      h1
        a(href="/") ViffCloud

    block content

    include ./footer_scripts
