mixin add_lib_script(path)
  script(src='/bower_components/#{path}')

mixin add_user_script(path)
  script(src='/scripts/#{path}')

- env = process.env.NODE_ENV
if env === 'development' || env === 'test' || front_end_build === true
  // build:js /dist/scripts/app.js
  +add_user_script('app-lib.js')
  +add_user_script('app.js')
  // buildend
else
  script(src='/scripts/app.js')
