.pure-g
  .pure-u-3-5
    h2 Suncorp Insurance
    p Viff testing for suncorp insurance

  .pure-u-2-5.action-g
    a.pure-button.pure-button-small(href="/edit") Edit
    a.pure-button.pure-button-small.btn-run-job Run

.create-job
