.create-job{
  width: 600px;
  margin:0 auto;
  margin-top: 60px;
  label{
    width: 12em;
  }
  label.desc{
    vertical-align: top;
  }
  .config-note{
    color: #666;
  }
  input{
    width: 20em;
  }
  input[type='submit']{
    margin-top: 30px;
    width: 6em;
  }
  .required{
    color: red;
  }
}
aside.test-history{
  min-height: 500px;
  border-left:1px solid #ccc;
}
