.pure-g.job-header
  .pure-u-4-5
    run-button(job-id="job._id")
    h1
      | {{job.name}}
      a.edit(ng-href="/jobs/{{job._id}}/edit")
        i.fa.fa-pencil-square-o
    p.description {{job.description}}
.pure-g
  .pure-u-4-5
    h2 Build Detail #2311
    console(job-id="job._id")
    pre {{job.configContent}}
  .pure-u-1-5.job-history(ng-controller="BuildsListCtrl")
    h2 History
    small(ng-hide="hasRunningHistory();") No running history

    p(ng-show="isRunning")
      progressbar(type="normal",percentage='0.5')


    ul
      li(ng-repeat="build in builds|orderBy:'-_id' ", ng-class="build.status")
        a
          span.number \#{{build._id}}
          span.pull-right {{build.createdTime | timeAgo }}
