.pure-g.job-header
  .pure-u-4-5
    a.pure-button.btn-run-job.pure-button-small.pure-button-primary(ng-click="run()") Run
    h1
      | {{job.name}}
      a.edit(ng-href="/jobs/{{job._id}}/edit")
        i.fa.fa-pencil-square-o
    p.description {{job.description}}
.pure-g
  .pure-u-4-5
    h2 Build Detail #2311
    console(stream="stream")
    pre {{job.configContent}}
  .pure-u-1-5.job-history(ng-controller="BuildsListCtrl")
    h2 History
    small(ng-hide="hasRunningHistory();") No running history
    small(ng-show="isRunning") Running ..
    ul
      li(ng-repeat="build in builds|orderBy:'-_id' ", ng-class="build.status")
        a
          span.number \#{{build._id}}
          span.pull-right {{build.createdTime | timeAgo }}
