.pure-g.job-header
  .pure-u-4-5
    a.pure-button.btn-run-job.pure-button-small.pure-button-primary(ng-click="run()") Run
    h1
      | {{job.name}}
      a.edit(ng-href="#/edit/{{job._id}}")
        i.fa.fa-pencil-square-o
    p.description {{job.description}}
.pure-g
  .pure-u-4-5
    h2 Build Detail #2311
    console(stream="stream")
  .pure-u-1-5.job-history(ng-controller="BuildsListCtrl")
    h2 History
    small(ng-hide="containsBuild") No runing history
    ul
      li(ng-repeat="build in builds", ng-class="build.status")
        a
          span.number \#{{build.id}}
          span.pull-right {{build.createdTime | timeAgo }}
