.pure-g.job-header
  .pure-u-4-5
    run-button(job-id="job._id")
    h1
      | {{job.name}}
      a.edit(ng-href="/jobs/{{job._id}}/edit")
        i.fa.fa-pencil-square-o
    p.description {{job.description}}
.pure-g
  .pure-u-4-5
    h2 Build Detail #
      span(ng-bind="builds[builds.length - 1]._id")

    console(job-id="job._id")
    pre {{job.configContent}}
  .pure-u-1-5.job-history(ng-controller="BuildsListCtrl")
    h2 History
    small(ng-hide="hasRunningHistory();") No running history
    ul
      li(ng-repeat="build in builds|orderBy:'-_id' ", ng-class="build.status")
        a
            span.number \#{{build._id}}
            span.pull-right {{build.createdTime | timeAgo }}

        p(ng-show="build.isRunning",style="margin-top:7px")
            progressbar(type="striped",percentage='1',animate='true')
        a.pure-button.button-success(href="/jobs/{{job._id}}/build/{{build._id}}/report") Show Report