.pure-g.job-header
  .pure-u-4-5
    a.pure-button.btn-run-job.pure-button-small.pure-button-primary Run
    h1
      | {{job.name}}
      a.edit(ng-href="#/edit/{{job._id}}")
        i.fa.fa-pencil-square-o
    p.description {{job.description}}
.pure-g
  .pure-u-4-5
    h2 Build Detail #2311
  .pure-u-1-5.job-history(ng-controller="BuildsListCtrl")
    h2 History
    small(ng-hide="containsBuild") No runing history
    ul
      li.failure
        a
          span.number #2311
          span.pull-right 20 minutes ago
      li.success
        a
          span.number #5
          span.pull-right 2 hours ago
      li.warning
        a
          span.number #4
          span.pull-right 1 day ago
      li.success
        a
          span.number #3
          span.pull-right 10 days ago
