extends ../../views/layout

block content
  header 
    h1 ViffCloud
  div.pure-u-1-6 
    aside.job-list 
      a.add-job(title="Create a new job",href="/jobs/new") +
      h2 Job List
      ul
        li.green
          a(href="/aami#detail") AAMI
        li.red
          a(href="/asteronlife#detail") Asteron Life
        li.green
          a(href="/asteronlife#detail") Suncorp Life
        li.green.active
          a(href="/asteronlife#detail") Suncorp Insurance
        li.red
          a(href="/asteronlife#detail") Suncorp Bank
  
  div.pure-u-2-3(data-ng-view)
    
      

  div.pure-u-1-6 
    aside.test-history
      h2 History
