extends ../../views/layout

block content
  header 
    h1 ViffCloud
  div.pure-g
    aside.pure-u-1-6.job-list
      a.pure-button.pure-button-primary.btn-add-job Create Job
      .pure-menu.pure-menu-open
        ul
          li
            a(href="/aami#detail") 
              i.fa-success.fa.fa-check-circle
              | AAMI
          li
            a(href="/asteronlife#detail") 
              i.fa-failure.fa.fa-times-circle
              | Asteron Life
          li
            a(href="/asteronlife#detail") 
              i.fa-success.fa.fa-check-circle
              | Suncorp Life
          li
            a(href="/asteronlife#detail").active
              i.fa-success.fa.fa-check-circle
              | Suncorp Insurance
          li
            a(href="/asteronlife#detail") 
              i.fa-failure.fa.fa-times-circle
              | Suncorp Bank
    
    .pure-u-5-6.job-content(data-ng-view)
